body {
    background-color: rgb(65, 71, 77);
}

#maindiv {
    display: flex;
    flex-direction: column;
    border: 1px solid blanchedalmond;
    border-radius: 15px;
    padding: 25px;
    width: 25%;
    /* margin-top: 10%; */
}

#info {
    display: flex;
    flex-direction: column;
    background-color: #dddddda9;
    border: 1px solid blanchedalmond;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
    font-family: cursive;
    color: rgb(0, 0, 0);
}

#data {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
    font-family: cursive;
    color: rgb(0, 0, 0);
    margin-top: 5%;
}

#accinfo {
    align-content: justify;
}

#action {
    margin-top: 4%;
    font-family: cursive;
    color: azure;
}

label {
    color: aliceblue;
    font-size: large;
    font-family: cursive;
}


input {
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 3%;
    height: 40px;
    width: 100%;
    background-color: rgb(49, 55, 59);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}

#buttons {
    margin-top: 10%;
}

.submit {
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    width: 27%;
    height: 40px;
    background-color: rgb(49, 55, 59);
    color: white;
    font-family: cursive;
    outline: none;
    font-size: 1vw;
    cursor: pointer;
}

.notsel {
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    width: 27%;
    height: 40px;
    background-color: green;
    color: white;
    font-family: cursive;
    outline: none;
    font-size: 1vw;
    cursor: pointer;
}

.sel {
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    width: 27%;
    height: 40px;
    background-color: rgb(49, 55, 59);
    color: white;
    font-family: cursive;
    outline: none;
    font-size: 1vw;
}

select {
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 3%;
    width: 100%;
    height: 40px;
    background-color: rgb(49, 55, 59);
    color: white;
    font-family: cursive;
    outline: none;
    font-size: 1vw;
    cursor: pointer;
}

table {
    font-family: cursive;
    width: 100%;
    border: none;
    border-spacing: 0 20px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr{
    border-radius: 15px;
    margin-top: 10px;
}

tr:nth-child(even) {
    background-color: #bb8181;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: #000;
    color: white;
}
